[Desktop Entry]
Type=Application
Terminal=false
Name=Bolt
GenericName=Bolt Launcher
Comment=Third-party Jagex launcher
Keywords=games;
Exec=env __GLX_VENDOR_LIBRARY_NAME=mesa MESA_LOADER_DRIVER_OVERRIDE=zink GALLIUM_DRIVER=zink ZINK_DESCRIPTORS=lazy ZINK_DEBUG=compact bolt
Icon=bolt-launcher
Categories=Game;
StartupWMClass=bolt-launcher
