[Desktop Entry]
Version=1.0
Name=Microsoft Edge
GenericName=Web Browser
Comment=Access the Internet
StartupNotify=true
TryExec=microsoft-edge-stable
Exec=/usr/bin/microsoft-edge-stable %U
Terminal=false
Icon=microsoft-edge
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/microsoft-edge;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/microsoft-edge-stable

[Desktop Action new-private-window]
Name=New InPrivate Window
Exec=/usr/bin/microsoft-edge-stable --inprivate
