[Desktop Entry]
Type=Application
Terminal=false
Name=PrismLauncher
GenericName=Prism Launcher
Comment=Third-party Minecraft launcher
Keywords=games;
Exec=env flatpak run org.prismlauncher.PrismLauncher
Icon=prism-launcher
Categories=Game;
StartupWMClass=prism-launcher
